/* login.css */
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    
  }
  
  .container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-success {
    background-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  .text-danger {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .login {
    text-align: center;
  }
  
  .login a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login a:hover {
    text-decoration: underline;
  }
  