
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .card .product-image {
    height: 300px; 
    object-fit: cover;
  }
  
  .card-body {
    flex-grow: 1;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .carousel img {
    object-fit: cover;
  }
  